body {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    margin: 0;
    background-color: #eee;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 80px);
    /* xác định số lượng cột và kích thước chiều rộng của từng cột trong lưới.
    repeat(3, 60px): nghĩa là lặp lại 3 lần, mỗi lần là 60px. */
    grid-template-rows: repeat(3, 80px);
    border: 3px solid #242222;
}

.square {
    width: 80px;
    height: 80px;
    border: 1px solid #999;
    cursor: pointer;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    display: flex;
    /* Sử dụng flexbox để căn giữa chữ */
    align-items: center;
    justify-content: center;
}

.square:hover,
#reset:hover {
    background-color: #ccc;
}

/* Style cho X */
.x-mark {
    color: #d32f2f;
}

.o-mark {
    color: #1976d2;
}

#reset {
    width: 100px;
    height: 50px;
    margin-top: 15%;
    background: #999;
    border: none;
    cursor: pointer;
}
.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/************************************************************/
.img-caro {
    width: 100%;
    height: 100vh; /* Chiều cao bằng màn hình */
    overflow: hidden;
}

.img-background {
    width: auto;
    height: 100%;
    object-fit: cover; /* Giúp ảnh che toàn bộ khung mà không bị méo */
    display: block;
    margin: 0 auto;
    position: relative;
}

.button-play {
    position: absolute;
    /* margin-top: 20px; */
    display: flex;
    justify-content: center;
    top: 72%;
    left: 43%;
}

#play {
    width: 200px;
    height: 60px;
    font-size: 24px;
    font-weight: bold;
    background-color: #4CAF50; /* Màu xanh lá cây */
    color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

#play:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

#mute-btn {
    position: absolute;
    top: 5%;
    right: 14%;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    background-color: #444;
    color: white;
    border: none;
    border-radius: 5px;
}

#mute-btn:hover {
    background-color: #666;       /* Màu nền khi hover */
}